@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
hi {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.newspaper-container {
    background: white;
    padding: 1em;
    border-radius: 11px;
    box-shadow: 30px, #ddd;
    width: 700px;
    box-shadow: 1px 1px 5px;
    margin: 3em auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
    margin: 1em 0;
    top: 0;
    background: white;
    position: sticky;
}
nav ul {
    list-style: none;
    margin: 0;
    font-size: 1em;
    display: inline-block;
    font-family: sans-serif;
}
nav li {
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
}
nav a {
    font-size: 0.8em;
    color: #777;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    display: inline-block;
    text-align: center;
    font-family: sans-serif !important;
}
body {
    background-color: #eee;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.more-articles {
    display: inline-flex;
    width: auto;
}